debian/files
debian/*debhelper*
debian/deb-get*

rejections.md

# Nohup template downloaded with gut

### Nohup ###
nohup.out

.gut


# Go template downloaded with gut
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/build/
go.work
