debian/files
debian/*debhelper*
debian/deb-get*

rejections.md

# Nohup template downloaded with gut

### Nohup ###
nohup.out

.gut

### Ruby ###
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
